# --------------------------------------------------
# Git
# --------------------------------------------------

.git
.gitignore

# --------------------------------------------------
# IDE
# --------------------------------------------------

.vscode
.idea

# --------------------------------------------------
# Runtime Data
# --------------------------------------------------

data/
eml/
templates/
template/

# --------------------------------------------------
# Configuration
# --------------------------------------------------

config.yaml

# --------------------------------------------------
# Certificates
# --------------------------------------------------

cert/
certs/

*.crt
*.key
*.pem
*.pfx
*.p12

# --------------------------------------------------
# Logs
# --------------------------------------------------

logs/
*.log

# --------------------------------------------------
# Build Output
# --------------------------------------------------

bin/
dist/
build/
release/

# --------------------------------------------------
# Go Test
# --------------------------------------------------

*.test
coverage.out
coverage.html

# --------------------------------------------------
# Documentation
# --------------------------------------------------

README.md
*.md