# --------------------------------------------------
# Configuration
# --------------------------------------------------

config.yaml

# --------------------------------------------------
# Certificates
# --------------------------------------------------

cert/
certs/
*.crt
*.key
*.pem
*.pfx
*.p12

# --------------------------------------------------
# Runtime Data
# --------------------------------------------------

data/
eml/
templates/
template/

# --------------------------------------------------
# Logs
# --------------------------------------------------

logs/
*.log

# --------------------------------------------------
# Build
# --------------------------------------------------

bin/
dist/
build/
release/

*.exe
*.exe~
*.dll
*.so
*.dylib

# --------------------------------------------------
# Go
# --------------------------------------------------

*.test
*.out
coverage.out
coverage.html

# --------------------------------------------------
# IDE
# --------------------------------------------------

.vscode/
.idea/

# --------------------------------------------------
# OS
# --------------------------------------------------

.DS_Store
Thumbs.db

# --------------------------------------------------
# Temporary
# --------------------------------------------------

tmp/
temp/
*.tmp